#controls, #map {
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#map {
    width: 79%;
}

#leaflet_map {
    height: 600px;
}

#track_device_form {
    display: none;
}