{% extends 'base.html.twig' %}

{% block body %}
    {% if errors is defined %}
        {% for error in errors %}
            <li class="error-msg">{{ error.message }}</li>
        {% endfor %}
    {% endif %}

    {{ form_start(device_form) }}
    {{ form_widget(device_form) }}
    {{ form_end(device_form) }}
{% endblock %}